<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <header>

    </header>
    <div class="container" id="app1">
        <div class="container-fluid">
            <form v-if="isLogin == true">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" v-model="name" placeholder="Name" required>
                </div>
                <button type="button" @click.stop.prevent="sub" class="btn btn-primary">Submit</button>
            </form>
            <div v-else>
                <div class="Info">
                    <label>Identifer Infomation</label>
                    <label>{{name}}</label>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Labada</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="js/main.js"></script>
</html>